@import "../../commonStyle.less";

.cards{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.panel{
    margin-bottom: 20px;
    display: flex;

    .indicator-select{
        width: 100%;
        padding: 0px 30px;
    }

    .date-time-picker{
        width: 350px;
    }

}

.menu{
    display: flex;
    .input-style();
    .link{
        width: 33px;
        height: 33px;
        cursor: pointer;
        background-size: 16px !important;

        &:hover, .active{
            background-color: @secondColor;       
        }

        &.grid{
            .grid-icon(@mainFontColor);  
            &:hover, .active {
                .grid-icon(@secondFontColor);  
            }

        }

        &.map{
            .map-icon(@mainFontColor);
            &:hover, .active {
                .map-icon(@secondFontColor);
            }
        }

    }
}

.summary{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .description, .value, .unit{
        display: inline-block;
        color: @thirdColor;
    }

    .value{
        font-size: 30px;
        font-weight: 600;
        margin-right: 10px;
    }

    .unit{
        font-size: 25px;
        font-weight: 600;
    }

    .description{
        font-size: 18px;
        margin-right: 20px;
    }

}
