@import "../../commonStyle.less";

.cards{
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;

    .card{
        width: 14.285%;
        flex: none;
    }

}

@media (max-width: 1600px) {
    .cards{
        .card{
            width: 16.66%;
        }
    }
}

@media (max-width: 1400px) {
    .cards{
        .card{
            width: 20%;
        }
    }
}

@media (max-width: 1200px) {
    .cards{
        .card{
            width: 25%;
        }
    }
}

@media (max-width: 1000px) {
    .cards{
        .card{
            width: 33.33%;
        }
    }
}

@media (max-width: 800px) {
    .cards{
        .card{
            width: 50%;
        }
    }
}

@media (max-width: 600px) {
    .cards{
        .card{
            width: 100%;
        }
    }
}

.panel{
    margin-bottom: 20px;
    display: flex;

    .indicator-select{
        width: 100%;
        padding: 0px 30px;
    }

    .date-time-picker{
        width: 350px;
    }

}

.menu{
    display: flex;
    .input-style();
    .link{
        width: 33px;
        height: 33px;
        cursor: pointer;
        background-size: 16px !important;

        &:hover, .active{
            background-color: @secondColor;       
        }

        &.grid{
            .grid-icon(@mainFontColor);  
            &:hover, .active {
                .grid-icon(@secondFontColor);  
            }

        }

        &.map{
            .map-icon(@mainFontColor);
            &:hover, .active {
                .map-icon(@secondFontColor);
            }
        }

    }
}

.summary{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .description, .value, .unit{
        display: inline-block;
        color: @thirdColor;
    }

    .value{
        font-size: 30px;
        font-weight: 600;
        margin-right: 10px;
    }

    .unit{
        font-size: 25px;
        font-weight: 600;
    }

    .description{
        font-size: 18px;
        margin-right: 20px;
    }

}
