@import "../../commonStyle.less";

.cards{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.dashboard-select{
    font-size: 20px;
    border-radius: 3px;
    border: none;
    user-select: none;
    outline: none;
    padding: 7px 40px 7px 35px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;

    background-position: 15px center;
    background-size: 9px;

    .shadow;

    &:ms-expand{
        display: none;
    }

    option{
        cursor: pointer;
    }

}