<div class='main-dashboard'>	
	<div class='panel'>
		<div class='menu'>
			<dashboard-menu></dashboard-menu>
		</div>
		<div class='indicator-select'>
			<custom-select *ngIf='CurIndicator' [(Value)]='CurIndicator' (ValueChange)='RefreshData()' [Options]='IndicatorOptions'></custom-select>
		</div>
		<div class='date-time-picker'>
			<datetime-picker [(Value)]='CurDate' (ValueChange)='RefreshData()'></datetime-picker>	
		</div>
	</div>
	
	<div class='table-view' *ngIf='_mode === "table"'>
		<div class='cards'>
			<div class='card' *ngFor='let card of Cards'>
				<info-card [Data]="card" (click)='CardClick(card)'></info-card>
			</div>
		</div>
	</div>

	<div class='map-view' *ngIf='_mode === "map"'>
		<div class='cards'>
			<ng-scrollbar>
				<div class='card' *ngFor='let card of Cards'>
					<info-card [Data]="card" AltStyle="low" (click)='CardClick(card)'></info-card>
				</div>
			</ng-scrollbar>
		</div>
		<div class='map'>
			<station-map></station-map>
		</div>
	</div>

	<div class='summary'> 
		<div class='count'>
			<div class='value'>{{Cards.length}}</div> 
			<div class='unit'>{{GetCountDescription()}}</div> 
		</div>
		<div class='summ' *ngIf='CurIndicator'>
			<div class='description'>Сумарное количество ({{CurIndicator.Name}}):</div> 
			<div class='value'>{{GetSummValue()}}</div> 
			<div class='unit'>{{CurIndicator.Unit.Name}}</div> 
		</div>
	</div>
</div>