<div class='info-card-container'>	
    <div class='header'> 
        <div class='icon-{{Data.type}} icon'></div>
        <div class='tittle'>{{Data.name}}</div>
    </div>
    <div class="body">
        <div class='plan-value'>
            <div class='value'>{{Data.planValue}}</div>
            <div class='indicator-icon icon-{{GetValueCompareClass(Data.planValue)}} icon'></div>
            <div class='icon-plan-value icon'></div>          
        </div>
        <div class='prev-value'>
            <div class='value'>{{Data.prevValue}}</div>
            <div class='indicator-icon icon-{{GetValueCompareClass(Data.prevValue)}} icon'></div>
            <div class='icon-prev-value icon'></div>           
        </div>
        <div class='cur-value'>
            <div class='icon-{{Data.indicator.Type}}-{{GetValueClass()}} icon'></div>
            <div class='value'>{{Data.value}}</div>
        </div>
        <div class='unit' [innerHTML]='Data.indicator.Unit'></div>
    </div> 
</div>