<div class='info-card-container {{Data.type}}'>	
    <div class='header'> 
        <div class='icon'></div>
        <div class='tittle'>{{Data.name}}</div>
    </div>
    <div class="body">
        <div class='plan-value'>
            <div class='value'>{{Data.planValue}}</div>
            <div class='indicator-icon {{GetValueCompareClass(Data.planValue)}}'></div>
            <div class='icon'></div>          
        </div>
        <div class='prev-value'>
            <div class='value'>{{Data.prevValue}}</div>
            <div class='indicator-icon {{GetValueCompareClass(Data.prevValue)}}'></div>
            <div class='icon'></div>           
        </div>
        <div class='cur-value'>
            <div class='icon {{Data.unit}} {{GetValueClass()}}'></div>
            <div class='value'>{{Data.value}}</div>
        </div>
        <div class='unit' [innerHTML]='GetUnitName()'></div>
    </div> 
</div>