@import "../commonStyle.less";

.page{
    background-color: @backgroundColor;
    min-height: 100%;

    .header{
        width: 100%;
        height: 75px;
        background-color: @mainColor;
    }

    .content{
        padding: 30px;

    }

}