@import "../commonStyle.less";

.page{
    background-color: @backgroundColor;
    min-height: 100%;

    .header{
        width: 100%;
        height: 75px;
        background-color: @mainColor;
    }

    .content{
        padding: 30px;
    }

    .spinner-wrapper{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        background-color: #000000c2;
        .spinner{
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 128px;
            height: 128px;

            .spinner-icon(@mainColor);
        }

    }

    

}