<div class='station-dashboard-data'>
	<div class='body'>
		<div class='data-panel'>
			<div class='name'>{{_getObjectName()}}</div>
			<div class='indicators'>
				<custom-select *ngIf='_curIndicatorGroup' [(Value)]='_curIndicatorGroup' (ValueChange)='_indicatorGroupChange($event)' [Options]='_indicatorOptions'></custom-select>
			</div>
		</div>

		<div [ngSwitch]="_activeView()"> 
			<div class='cards' *ngSwitchCase="'indicators'">
				<indicator-cards-table [Data]='_data' [ActiveIndicator]='_curIndicator' (CardClick)='_cardClick($event)'></indicator-cards-table>
			</div>
			
			<div class='stateTable' *ngSwitchCase="'state-table'">
				<state-table [Data]='_data'></state-table>
			</div>

			<div class='gantChart' *ngSwitchCase="'gant'">

			</div>
		</div>
	</div>

	<div class='chart-container' *ngIf='_chartData'>
		<div class='chart-header'>
			<div class='description'>
				{{_chartName}}
			</div>
			<div class='period'>
				<button class='period-button {{_charPeriod == 0 ? "active" : ""}}' (click)='_setChartPeriod(0)'>день</button>
				<button class='period-button {{_charPeriod == 1 ? "active" : ""}}' (click)='_setChartPeriod(1)'>месяц</button>
				<button class='period-button {{_charPeriod == 2 ? "active" : ""}}' (click)='_setChartPeriod(2)'>год</button>
			</div>
		</div>
		<div class='chart'>
			<indicator-chart [Value]='_chartData'></indicator-chart>
		</div>
	</div>
</div>