@import "../../../commonStyle.less";

.station-dashboard-data{

    .body{
        .input-style;
        .data-panel{
            display: flex;
            align-items: center;
            height: 80px;

            border: 0;
            border-bottom: 1px;
            border-style: solid;
            border-color: @thirdColor;

            .name{
                .tittle-style;
                margin-left: 20px;
                margin-right: 40px;
                white-space: nowrap;
            }

            .indicators{
                width: 100%;
                margin-right: 20px;
            } 
        }

        .cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            .card{
                width: calc(25% - 2px);
                flex: none;
                border: 0;
                border-bottom: 2px;
                border-right: 2px;
                border-style: solid;
                border-color: @backgroundColor;
                &:nth-child(4n){
                    border-right: 0px;
                }

            }
        }
    }

    .chart-container{
        padding: 20px;
        .chart-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;

            .description{
                .tittle-style;
            }

            .period{
                overflow: hidden;
                border: solid;
                border-width: 1px;
                border-radius: 5px;
                border-color: @thirdColor;

                .period-button{
                    cursor: pointer;
                    outline: none;
                    border: 0;
                    background-color: transparent;
                    font-size: 16px;
                    padding: 7px 10px;
                    &:hover, &.active{
                        background-color: @mainColor;
                        color: @secondFontColor;
                    }

                    &:not(:last-child){
                        border-right: 1px;
                        border-style: solid;
                        border-color: @thirdColor;
                    }

                }
            }

        }

        margin: 20px 0px;
        .input-style;

        .chart{
            height: 300px;
        }

    }

}

@media (max-width: 1400px) {
    .station-dashboard-data{
        .body{
            .cards{
                .card{
                    width: calc(50% - 1px);

                    &:nth-child(2n){
                        border-right: 0px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .station-dashboard-data{
        .body{
            .cards{
                .card{
                    width: 100%;
                    border-bottom: 2px;
                    border-right: 0px;
                    &:last-child{
                        border-bottom: 0px;
                    }

                }
            }
        }
    }
}