<div class='station-dashboard'>	
	<div class='panel'>
		<div class='menu'>
			<dashboard-menu></dashboard-menu>
		</div>
		<div class='station-select'>
			<custom-select *ngIf='CurStation' [(Value)]='CurStation' (ValueChange)='_onStationChange()' [Options]='StationOptions'></custom-select>
		</div>
		<div class='period-select'>
				<custom-select [(Value)]='CurPeriod' [Options]='PeriodOptions'></custom-select>
		</div>
		<div class='date-time-picker'>
			<datetime-picker [(Value)]='Date'></datetime-picker>	
		</div>
	</div>
	<div class='body'>
		<div class='menu-container'>
			<div *ngIf='CurStation' class='menu'>
				<div class='menu-header'>
					<div class='icon icon-{{CurStation.Type}}'></div>
					<div class='name'>{{CurStation.Name}}</div>
					<a routerLink="" class='go-home'>Домой</a>
				</div>
				<div class='menu-body'>
					<div class='menu-elem {{CurObject === CurStation ? "active" : "" }}' (click)='_setActiveObject(CurStation)'> 
						Электростанция
					</div>
					<div *ngFor='let block of CurStation.Blocks' class='menu-elem {{_isBlockConsidered(block) ? "considered" : ""}} {{CurObject === block ? "active" : "" }}' (click)='_setActiveObject(block)'>
						<div class='status {{block.Status ? "on" : "off"}}'></div>
						{{block.Name}}
						<button class='consider' (click)="_considerBlockClick($event, block)"></button>
					</div>
				</div>
			</div>
		</div>
		<div class='data' *ngIf='CurStation'>
			<station-dashboard-data [Date]='Date' [Object]='CurObject'></station-dashboard-data>
		</div>
	</div>
	<div class='summary' *ngIf='CurStation'>
		{{CurStation.Name}}
	</div>
</div>