
<div class='custom-select' (click)='_selectClick()'>
	<input-wrapper [Icon]='_selectedOption.Icon' [Description]='_selectedOption.Description' [Additional]='_selectedOption.Additional' [HasAttachments]='true'> </input-wrapper>
	<div class='options' [hidden]='!_isOpen'>
		<div *ngFor='let option of Options' (click)='_optionSelected($event, option)' class="option {{option === _selectedOption ? 'selected' : ''}}">
				<input-wrapper [Icon]='option.Icon' [Description]='option.Description' [Additional]='option.Additional' [HasAttachments]='false'> </input-wrapper>
		</div>
	</div>
</div>

	