@import "../../commonStyle.less";

.custom-select{
    position: relative;
    .input-style;
    width: 100%;
    .options{
        .shadow;
        position: absolute;
        left: 0;
        top: 35px;
        width: 100%;
        background-color: white;
        z-index: 2;
        .option{
            &:hover, &.selected {
                background-color: @backgroundColor;
            }
        }

    }

}
